{% set data = Data["NetworkModule"]["module_data"] %}

{% if data["ONLINE_STATUS"] == "online" %}
	{% set status_color = "green" %}
{% else %}
	{% set status_color = "red" %}
{% endif %}

{% set cache_status = Data["NetworkModule"]["module_cache_status"] %}
{% set cache_delta = Data["NetworkModule"]["cache_delta"] %}

<div id="network_block">
	<div>
		<span>STATUS:</span>
		<span class="{{ status_color }}">{{ data["ONLINE_STATUS"] }}</span>
	</div>
	<div>
		<span>IP:</span>
		<span>{{ data["IP"] }}</span>
	</div>
	<div>
		<span>UPTIME:</span>
		<span>{{ data["UPTIME"] }}</span>
	</div>
</div>

{% if cache_status != "valid" %}

	<span style="display: none"
	      hx-get="/update_module?module_name=NetworkModule"
	      hx-trigger="load delay:5s"
	      hx-sync="queue all"
	      hx-target="footer"
	></span>

{% else %}

	<span style="display: none"
	      hx-get="/module?module_name=NetworkModule"
	      hx-trigger="load delay:{{ cache_delta }}s"
	      hx-sync="queue all"
	      hx-target="footer"
	></span>

{% endif %}