{% set data = Data["NetworkModule"]["module_data"] %}

{% if data["ONLINE_STATUS"] == "online" %}
	{% set status_color = "green" %}
{% else %}
	{% set status_color = "red" %}
{% endif %}

{% set cache_status = Data["NetworkModule"]["module_cache_status"] %}
{% set cache_delta = Data["NetworkModule"]["cache_delta"] %}

<fieldset id="network_fieldset" class="module_fieldset box_shadow">

	<legend>Network</legend>
	<table id="network_table">
		<tr>
			<th>Status:</th>
			<td class="{{ status_color }}">{{ data["ONLINE_STATUS"] }}</td>

			<th>IP:</th>
			<td>{{ data["IP"] }}</td>

			<th>Uptime:</th>
			{#			<td>{{ cache_status }} ({{ cache_delta }})</td>#}
			<td>{{ data["UPTIME"] }}</td>
		</tr>
	</table>

</fieldset>

{% if not cache_status == "valid" %}

	<span style="display: none"
	      hx-get="/update_module?module_name=NetworkModule"
	      hx-trigger="load delay:2s"
	      hx-sync="queue all"
	      hx-target="#network_module"
	></span>

{% else %}

	<span style="display: none"
	      hx-get="/module?module_name=NetworkModule"
	      hx-trigger="load delay:{{ cache_delta }}s"
	      hx-sync="queue all"
	      hx-target="#network_module"
	></span>

{% endif %}