{% set data = Data["WeatherModule"]["module_data"] %}
{% set cache_status = Data["WeatherModule"]["module_cache_status"] %}
{% set cache_delta = Data["WeatherModule"]["cache_delta"] %}


<div id="WeatherBlock" class="nav_block">

	<img id="WeatherIcon" src='{{ data["icon"] }}' alt="">
	<div id="WeatherDetails">
		<h2>{{ data["current"] }}°C</h2>
		<p>{{ data["future_day"] }}°C |{{ data["future_night"] }}°C</p>
	</div>

</div>


{% if not cache_status == "valid" %}

	<span style="display: none"
	      hx-get="/update_module?module_name=WeatherModule"
	      hx-trigger="load delay:2s"
	      hx-sync="queue all"
	      hx-target="#WeatherBlock"
	></span>

{% else %}

	<span style="display: none"
	      hx-get="/module?module_name=WeatherModule"
	      hx-trigger="load delay:{{ cache_delta }}s"
	      hx-sync="queue all"
	      hx-target="#WeatherBlock"
	></span>

{% endif %}