{% set data = Data["WeatherModule"]["module_data"] %}
{% set cache_status = Data["WeatherModule"]["module_cache_status"] %}
{% set cache_delta = Data["WeatherModule"]["cache_delta"] %}


<span id="weather_img">
                <img src='{{ data["icon"] }}' alt="">
            </span>

<h4 id="weather_today">
	<span id="current_temp">{{ data["current"] }}</span>
	<span class="weather_non_bold">°C</span>
</h4>
<p id="weather_future">
	<span id="future_temp">{{ data["future_day"] }}</span>
	<span class="weather_non_bold">°C | </span>
	<span id="future_temp_min">{{ data["future_night"] }}</span>
	<span class="weather_non_bold">°C</span>
</p>

{% if not cache_status == "valid" %}

	<span style="display: none"
	      hx-get="/update_module?module_name=WeatherModule"
	      hx-trigger="load delay:2s"
	      hx-sync="queue all"
	      hx-target="#weather_module"
	></span>

{% else %}

	<span style="display: none"
	      hx-get="/module?module_name=WeatherModule"
	      hx-trigger="load delay:{{ cache_delta }}s"
	      hx-sync="queue all"
	      hx-target="#weather_module"
	></span>

{% endif %}