{% set data = Data["WindowsModule"]["module_data"] %}

<table id="windows_data_table" class="data_table">
	<thead>
	<tr>
		<th data-sort="string">Drive</th>
		<th data-sort="int">Size</th>
		<th data-sort="int">Used</th>
		<th style="width: 180px;"></th>
		<th data-sort="int">Free</th>
	</tr>
	</thead>
	<tbody>
	{% for item in data %}
		<tr>
			<td>{{ item["device_name"] }}</td>
			<td data-sort-value="{{ item["size"] }}">{{ item["size"] }}gb</td>
			<td data-sort-value="{{ item["percent"] }}">{{ item["percent"] }}%</td>

			{% if item["percent"] > 80 %}
				{% set color = "red" %}
			{% else %}
				{% set color = "green" %}
			{% endif %}

			<td style="padding-right: 7px;">
				<div class="bar_td">
					<div class="bar bar_{{ color }}" style="width: {{ item["percent"] }}%;"></div>
				</div>
			</td>
			<td data-sort-value="{{ item["free"] }}">{{ item["free"] }}gb</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<script>
  $(function () {
    $("#windows_data_table").stupidtable();
  });
</script>

{% set cache_status = Data["WindowsModule"]["module_cache_status"] %}
{% set cache_delta = Data["WindowsModule"]["cache_delta"] %}

{% if cache_status != "valid" %}

	<span style="display: none"
	      hx-get="/update_module?module_name=WindowsModule"
	      hx-trigger="load delay:10s"
	      hx-sync="queue all"
	      hx-target="#windows_module"
	></span>

{% else %}

	<span style="display: none"
	      hx-get="/module?module_name=WindowsModule"
	      hx-trigger="load delay:{{ cache_delta }}s"
	      hx-sync="queue all"
	      hx-target="#windows_module"
	></span>

{% endif %}