{% set data = Data["WindowsModule"]["module_data"] %}

<fieldset id="glances_fieldset" class="module_fieldset glas box_shadow">

	<legend>Win PC</legend>

	<table id="win_table" class="glances_table">
		<thead>
		<tr>
			<th data-sort="string">Drive</th>
			<th data-sort="int">Size</th>
			<th></th>
			<th data-sort="int">Used</th>
			<th></th>
			<th style="width: 180px;"></th>
			<th data-sort="int">Free</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for item in data %}

			<tr>
				<td>{{ item["device_name"] }}</td>
				<td>{{ item["size"] }}</td>
				<td>GB</td>
				<td>{{ item["percent"] }}</td>
				<td>%</td>
				<td>
					{% if item["percent"] > 80 %}
						{% set color = "red" %}
					{% else %}
						{% set color = "green" %}
					{% endif %}
					<div class="bar bar_{{ color }}" style="width: {{ item["percent"] }}%;"></div>
				</td>
				<td>{{ item["free"] }}</td>
				<td>GB</td>
			</tr>
		{% endfor %}

		</tbody>
	</table>

</fieldset>