:focus {
	outline : none;
}

body {
	margin      : 0;
	height      : 100vh;
	background  : var(--bg);
	color       : var(--text);
	font-size   : 16px;
	overflow    : hidden;
	font-family : "Noto Sans", sans-serif;
}

/* HEADER */

header {
	background      : var(--p-col);
	border-bottom   : solid 2px var(--text);
	display         : flex;
	justify-content : space-between;
	padding         : 8px 3%;
}

.header_block {
	max-height : 70px;
	min-width  : 200px;
	max-width  : 400px;
	display    : inline-block;
	padding    : 4px;
}

#spotify_image,
#weather_img {
	height  : 60px;
	width   : 60px;
	float   : left;
	margin  : 0;
	padding : 0;
	border  : 0;
}

.header_block > h4,
.header_block > p {
	overflow      : hidden;
	text-overflow : ellipsis;
	white-space   : nowrap;
	cursor        : default;
}

/* HEADER CONTENT */

#spotify_module > h4,
#spotify_module > p {
	padding : 3px 6px;
}

#weather_module > h4,
#weather_module > p {
	padding : 3px 6px;
}

#clock_module {
	text-align : center;
}

#clock_module h4 {
	font-size : 1.6rem;
}

/* MAIN MODULE */

.main_module_container {
	flex-grow        : 2;
	padding          : 20px;
	background-color : var(--bg);
	overflow         : scroll;
	display          : flex;
	flex-direction   : row;
	justify-content  : space-around;
	align-items      : flex-start;
	flex-wrap        : nowrap;
	gap              : 1.2em;
}

.main_module_container::-webkit-scrollbar {
	display : none;
}

.module_fieldset {
	border-radius : 16px;
	border-color  : var(--text);
}

.module_fieldset legend {
	color       : var(--text);
	font-weight : bold;
}

.mod_1 {
	min-height : 450px;
	min-width  : 500px;

}

.mod_2 {
	min-height : 650px;
	min-width  : 460px;
}