.main_settings_wrapper {
	width           : 90%;
	height          : 100vh;
	margin          : auto;
	display         : flex;
	align-items     : flex-start;
	justify-content : flex-start;
	padding         : 4em;
}

hr {
	border-top : 1px solid var(--text);
	opacity    : .2;
}

legend {
	font-weight : bold;
}

fieldset {
	margin : 10px 0;
	border : solid 3px var(--bg-light);
}


.setting_name_container,
.setting_content_container {
	padding : .5em;
}

.settings_content_key,
.settings_content_value {
	width   : 45%;
	padding : 3px 4px;
}

.settings_container {
	min-width : 650px;
	border    : solid 1px var(--text);
}

.settings_container > * {
	cursor : default;
}

.settings_block {
	padding : 4px;
}

.setting_content_container {
	border-bottom : solid 1px var(--text);
}

.setting_name_container {
	background-color : var(--bg-med);
}

.setting_name_container:hover {
	color : var(--text_hover);
}

.setting_content_container {
	display : none;
}

.settings_content {
	display         : flex;
	justify-content : flex-start;
	padding         : 4px 0;
}

.settings_content > * {
	font-size : 0.9em;
}

/* INPUT */


.setting_value_input {
	display : none;
}

.setting_value_input {
	background-color : var(--bg-light);
	color            : var(--text_hover);
	border           : none;
	width            : 45%;
	padding          : 3px 4px;
}

/* BUTTON */

.btn_wrapper {
	display         : flex;
	justify-content : space-around;
}

.btn_wrapper > * {
	margin-top       : 10px;
	text-align       : center;
	padding          : 4px 8px;
	background-color : var(--bg-light);
}

.btn_wrapper > *:hover {
	color : var(--text_hover);
}
