:root {
	--bg      : #24272a;
	--bg-light: #3c4147;
	--bg-med  : #2c3035;

	--text      : #a2a0a0;
	--text_hover: #c3c2c2;

	--p-col: #03322d;
	--s-col: #1DE9B6;

    --bar-green : rgb(14, 113, 14);
    --bar-red   : rgb(140, 27, 27);
    --bar-yellow: rgb(176, 176, 35);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.debug_1 {
	outline: 1px red solid;
}
.debug_11{
    background-color: rgba(255, 0, 0, 0.297);
}

.debug_2 {
	outline: 1px greenyellow solid;
}
.debug_22{
    background-color: rgba(172, 255, 47, 0.438);
}

.debug_3 {
	outline: 1px blue solid;
}

.green {
	color: green;
}

.red {
	color: red;
}

.box_shadow {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.glas {
	background             : rgba(36, 39, 42, 0.31);
	backdrop-filter        : blur(7.5px);
	-webkit-backdrop-filter: blur(7.5px);
}

.flex {
	display        : flex;
	align-items    : center;
	justify-content: center;
}

.flex_row {
	display        : flex;
	flex-direction : row;
	align-items    : center;
	justify-content: center;
}

.flex_col {
	display        : flex;
	flex-direction : column;
	align-items    : center;
	justify-content: space-around;
}

.fs_1 {
	font-size  : 1em;
	font-weight: 500;
}

.fs_1_2 {
	font-size: 1.2em;
}

.fs__9 {
	font-size: .9em;
}

.fs_1_5 {
	font-size: 1.5em;
}

.fs_2 {
	font-size  : 2em;
	font-weight: 500;
}