{% extends 'base.html' %}

{% block head %}

	<script src="{{ url_for('static', filename='/js/clock.js') }}"></script>
	<script src="{{ url_for('static', filename='/js/weather.js') }}"></script>
	<script src="{{ url_for('static', filename='/js/news.js') }}"></script>
{% endblock head %}

{% block body %}

	<nav class="glas">

		<div id="SpotifyBlock"
		     class="nav_block"
		     hx-get="/spotify"
		     hx-trigger="every 2s"
		     hx-sync="queue all"
		     hx-target="#SpotifyBlock">
		</div>

		<div id="DateTimeBlock" class="nav_block">
			<h1 id="clock_time"></h1>
			<p id="clock_day"></p>
		</div>

		<div id="WeatherBlock" class="nav_block">
			{% include 'modules/weather.html' %}
		</div>

	</nav>

	<main>
		<div id="grid_2" class="main_grid">
			<fieldset id="reddit_news_module" class="outer_news_wrapper glas box_shadow">
				{% include 'modules/news.html' %}
			</fieldset>

		</div>

		<div id="grid_3" class="main_grid">

			<fieldset id="raspberry_module" class="glas box_shadow">
				<legend>Raspberry Pi</legend>
				{% include 'modules/raspberry.html' %}
			</fieldset>

			<fieldset id="windows_module" class="glas box_shadow">
				<legend>Windows</legend>
				{% include 'modules/windows.html' %}
			</fieldset>

		</div>
	</main>

	<footer class="glas">
		{% include 'modules/network.html' %}
	</footer>

	<!-- WeatherModal -->
	<div id="WeatherModal" class="modal no_blur">
	</div>


{% endblock body %}