{% extends 'base.html' %}

{% block head %}
	<script src="{{ url_for('static', filename='/js/clock.js') }}"></script>
	<script src="{{ url_for('static', filename='/js/weather.js') }}"></script>
	<script src="http://192.168.1.12/cdn/stupidtable.js"></script>
{% endblock head %}

{% block body %}

	<header class="">

		<div id="spotify_module"
		     class="header_block"
		     hx-get="/spotify"
		     hx-trigger="load"
		     hx-sync="queue all"
		     hx-target="#spotify_module"></div>

		<div id="clock_module" class="header_block">
			<h4 id="clock_time"></h4>
			<p>
				<span id="clock_day"></span>
				<span id="clock_date"></span>
			</p>
		</div>

		<div id="weather_module" class="header_block">
			{% include 'modules/weather.html' %}
		</div>

	</header>

	<main>

		<div class="col flex_start">

			<div id="glances_module" class="">
				{% include 'modules/windows.html' %}
			</div>

		</div>

		<div class="col flex_between">

			<div id="raspberry_module" class="">
				{% include 'modules/raspberry.html' %}
			</div>

			<div id="network_module" class="">
				{% include 'modules/network.html' %}
			</div>

		</div>
	</main>


	<footer>
	</footer>

	<!-- WeatherModal -->
	<div id="WeatherModal" class="modal no_blur">
	</div>

	<script>
      $(function () {
        $("table").stupidtable();
      });
	</script>
{% endblock body %}