{% extends 'base.html' %}

{% block head %}
	<script src="{{ url_for('static', filename='/js/clock.js') }}"></script>
	<script src="{{ url_for('static', filename='/js/weather.js') }}"></script>
	<script src="http://192.168.1.12/cdn/stupidtable.js"></script>
{% endblock head %}

{% block body %}

	<header class="">

		<div id="spotify_module"
		     class="header_block"
		     hx-get="/spotify"
		     hx-trigger="load"
		     hx-sync="queue all"
		     hx-target="#spotify_module"></div>

		<div id="clock_module" class="header_block">
			<h4 id="clock_time"></h4>
			<p>
				<span id="clock_day"></span>
				<span id="clock_date"></span>
			</p>
		</div>

		<div id="weather_module" class="header_block">
			{% include 'modules/weather.html' %}
		</div>

	</header>

	<main>
		<div class="main_module_container">
			<div class="mod_1"></div>

			<div id="right_module_container">

				<div id="network_module" class="">
					{% include 'modules/network.html' %}
				</div>
				<div id="glances_module" class="">
					{% include 'modules/glances.html' %}
				</div>

			</div>
		</div>
	</main>

	<footer>
	</footer>

	<!-- WeatherModal -->
	<div id="WeatherModal" class="modal no_blur">
	</div>

{% endblock body %}